* {
    padding: 0;
    margin: 0;
}

body {
    background: darkblue;
    text-align: center;
    color: white;
}

.card {
    background-color: rgb(4, 4, 82);
    width: 300px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 15px 15px 15px 15p;
    margin-left: 38%;
    margin-top: 50px;
}